.panel {
    margin:1em auto;
    padding: 4px;
    width: 100%;
    font-size: 1.2em;
    color: #fff;
}

.frame {
    padding: 1rem;
    margin: 2px;
    background: #ddd;
    min-height: 3em;
    color: #000;
    width: calc(100%-4px);
}

button.save {
    margin: 0 4px;
    padding: 4px;
    font-size: 1.2em;
    color: #fff;
    background-color: springgreen;
}

button.new {
    margin: 0 4px;
    padding: 4px;
    font-size: 1.2em;
    color: #fff
}

button.new svg {
    height: 16pt;
    fill: #fff
}

button.delete svg {
    height: 16pt;
    fill: #fff;
}

button.delete:hover {
    background: #f00;
}

button.delete {
        float: right;
        background: none;
}

.warmup {
    background-color: #a2a;
}

.intro {
    background-color: #0a2;
}

.objectives {
    background-color: #22c;
}

.activity {
    background-color: #c22;
}

.cues {
    background-color: #d62;
}

.quiz {
    background-color: #fc0;
    color: #0a2;
}

button.new.quiz {
    background-color: #fc0;
    color: #0a2;
}

input.quiz {
    background-color: #fff;
    color: #000;
}

.quizLink {
    font-size: 1.2em;
    color: #48f;
    text-decoration: underline;
}

button.new:hover, button.save:hover{
    filter: brightness(60%);
}

span.title {
    display:block;
    width:100%;
    background-color: inherit;
}

span.title:hover {
    filter: brightness(50%);
    cursor: pointer;
}

span.title svg {
    display:none;
}

span.title:hover svg {
    display: inline;
}

leftjust {
    text-align:left;
}